In [64]:
import os
import pandas as pd
from functools import reduce
import numpy as np
from datetime import date
import tensorflow as tf
from keras.layers import Dropout
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM
from tensorflow.keras.metrics import RootMeanSquaredError, MeanAbsoluteError
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from keras.preprocessing.sequence import TimeseriesGenerator
import statsmodels.api as sm
import matplotlib.pyplot as plt
import pmdarima as pm

In [65]:
df=pd.read_csv("C:/Users/91966/OneDrive/Desktop/capstone/telangana/weather/daily_weather_data.csv")
df=df[['district','odate','rainfall','temp_min','temp_max']].dropna()

In [66]:
df1=df.copy(deep=True)
df2=df.copy(deep=True)
df3=df.copy(deep=True)
df1['odate'] = pd.to_datetime(df1['odate'], format='%d-%m-%Y', errors='coerce')
df1.dropna(inplace=True)
df2['odate'] = pd.to_datetime(df2['odate'], format='%Y-%m-%d', errors='coerce')
df2.dropna(inplace=True)
df3['odate'] = pd.to_datetime(df3['odate'], format='%d-%b-%y', errors='coerce')
df3.dropna(inplace=True)

In [67]:
df_final=pd.concat([df1,df2,df3],axis=0).sort_index()
df_final=df_final.sort_values(by='odate')

In [68]:
df_comps={}
options=["Adilabad","Nizamabad","Warangal","Karimnagar","Khammam"]
for i in options:
  df_comps[i]=df_final[df_final["district"]==i]
district='Khammam'

In [69]:
df_comps[district]=df_comps[district][['odate','temp_max','temp_min']]

In [70]:
for i in df_comps:
    df_comps[i]=df_comps[i].groupby(by=["odate"]).mean()

C:\Users\91966\AppData\Local\Temp\ipykernel_20532\366426764.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_comps[i]=df_comps[i].groupby(by=["odate"]).mean()
C:\Users\91966\AppData\Local\Temp\ipykernel_20532\366426764.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_comps[i]=df_comps[i].groupby(by=["odate"]).mean()
C:\Users\91966\AppData\Local\Temp\ipykernel_20532\366426764.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_comps[i]=df_comps[i].groupby(by=["odate"]).mean()
C:\Users\91966\AppData\Local\Temp\ipykernel_20532\366426764.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_comps[i]=df_comps[i].groupby(by=["odate"]).mean()

In [71]:
df_comps['Adilabad']

             rainfall   temp_min   temp_max
odate
2018-01-01   0.000000  11.200000  30.436842
2018-01-02   0.000000  11.810526  31.173684
2018-01-03   0.000000  11.626316  31.121053
2018-01-04   0.000000  11.200000  30.300000
2018-01-05   0.000000  10.700000  29.410526
...               ...        ...        ...
2022-09-26   0.000000  23.544444  33.972222
2022-09-27  11.888889  24.683333  33.350000
2022-09-28   1.166667  23.661111  33.894444
2022-09-29   9.816667  24.322222  32.605556
2022-09-30   2.250000  23.577778  32.166667

[1733 rows x 3 columns]

In [72]:

df=df_comps[district]

df["avg_temp"] = ((df["temp_max"] + df["temp_min"])/2)

In [73]:
holt_winter = sm.tsa.ExponentialSmoothing(
    df['temp_max'], seasonal='add', seasonal_periods=365)
x = holt_winter.fit()
x.params

c:\Users\91966\anaconda3\envs\tf-gpu\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
c:\Users\91966\anaconda3\envs\tf-gpu\lib\site-packages\statsmodels\tsa\holtwinters\model.py:915: ConvergenceWarning: Optimization failed to converge. Check mle_retvals.
  warnings.warn(

{'smoothing_level': 0.720869751982435,
 'smoothing_trend': nan,
 'smoothing_seasonal': 1.0528679006976707e-08,
 'damping_trend': nan,
 'initial_level': 36.8712864456577,
 'initial_trend': nan,
 'initial_seasons': array([-3.78265625, -3.79178404, -3.49984383, -4.02288777, -3.81845216,
        -3.41437033, -3.9042205 , -3.91566335, -3.35674622, -3.46089361,
        -3.05063765, -2.77944207, -2.98798961, -3.65530161, -3.52684577,
        -2.90918739, -2.66974554, -3.1186217 , -2.83873417, -2.63156008,
        -2.4509206 , -2.21009719, -2.53270058, -2.14898627, -2.18932511,
        -2.27919591, -2.26849557, -3.20661636, -3.64613008, -2.94834452,
        -2.41853021, -1.27010948, -1.45488703, -1.38209029, -1.45520749,
        -1.71810749, -1.40730149, -1.15625041, -2.17117259, -2.27840959,
        -2.04225556, -1.32638187, -1.879363  , -1.08866773, -0.65532614,
        -0.21421038, -0.35476911, -0.30564778, -0.28260331, -0.46787226,
        -1.10389865, -0.42367936,  0.30224802,  1.07442821,  0.98246934,
         0.90037004,  1.28582555,  1.46803392,  1.36926997,  1.09319179,
         0.82432549,  0.44547403,  1.02492462,  1.10502547,  1.07820119,
         0.65889665,  0.31309743,  0.74154604,  0.6568628 ,  1.08243991,
         1.35604269,  1.23552696,  2.08009843,  1.94416687,  2.09592226,
         1.35882915,  1.31107287,  1.15956326,  1.28436258,  1.59052445,
         1.95879541,  1.94393986,  2.32270202,  2.29301613,  1.94991474,
         2.22042379,  2.59490696,  3.12830282,  3.62596768,  3.88821532,
         3.72882274,  3.59435187,  3.2461919 ,  2.65457857,  2.48872357,
         2.6839916 ,  2.92109791,  3.12506731,  2.8920411 ,  2.21616401,
         2.8575862 ,  3.63123469,  3.73288767,  4.17468078,  3.51887709,
         3.27837685,  4.00055781,  3.94568989,  4.19014968,  4.86523992,
         4.84454367,  4.26416571,  4.12937053,  4.64123001,  4.95571862,
         5.54736828,  5.26863585,  5.3152886 ,  5.12702228,  5.38418412,
         5.63044754,  5.67799556,  5.22990808,  3.80489762,  4.35378482,
         6.2045567 ,  5.93252586,  5.84382246,  6.05422672,  6.14051322,
         5.38257252,  4.19617736,  3.97359012,  5.01751085,  4.86950302,
         4.45511235,  3.98919348,  4.2042556 ,  5.32614595,  5.2313733 ,
         5.86310674,  6.06120552,  6.34178   ,  5.64642842,  5.95618828,
         5.07857799,  6.67580634,  6.19803498,  6.75939418,  7.45321355,
         5.52715945,  5.73375286,  5.48307778,  4.36589096,  3.5064536 ,
         4.58745826,  5.22022668,  2.77172366,  4.38888046,  4.88068108,
         3.74154198,  3.07381991,  0.82635988,  1.40200832,  2.50393415,
         2.47661652,  3.30201588,  2.52387676,  1.19249285,  1.50531457,
         2.36819693,  2.63485224,  0.21243138,  0.23997756,  0.25365311,
         1.1776249 ,  1.51350431,  0.61330573,  0.6384455 , -0.20989433,
         0.45978541,  0.94983218, -0.76692743, -1.30793688, -0.49756675,
         0.32590265, -1.29709302, -1.21837496, -1.02596875, -2.8794612 ,
        -2.23251934, -2.14455354, -2.96949578, -3.07480993, -2.57773745,
        -3.10972502, -2.70373889, -1.59268112, -0.64407793, -0.06164276,
        -0.55143102, -2.38371899, -1.76461683, -3.02515149, -2.45248047,
        -0.43368699, -0.03756716, -2.27558141, -0.60342649, -1.49381586,
        -0.83950357,  0.12982584,  0.17980153,  0.13530017, -1.27261316,
        -1.30481402, -0.87055271, -1.56145913, -1.93315654, -2.45900465,
        -1.17406325, -1.39307523, -1.9353263 , -1.74133303, -2.54055224,
        -3.79682332, -4.01060642, -4.23828119, -2.99069101, -2.00008746,
        -1.45836956, -3.95430797, -4.26857618, -2.0175295 , -0.77676293,
        -0.80476899, -0.62068011,  0.14037609, -1.30553625, -1.78742561,
        -0.94722543, -0.44187054, -0.33884636, -1.55968279, -1.79137829,
        -1.01087831, -0.70510599, -0.63276211, -0.11630216, -2.26131596,
        -1.16140169, -0.67155817, -0.68041696, -1.28305638, -1.99857954,
        -1.48684353, -1.3914797 , -0.96578719, -0.51497827, -0.19416484,
        -0.7912781 , -0.43160916, -1.59923228, -1.84587622, -1.79636994,
        -1.39774253, -1.26682433, -0.35482518, -0.75380615, -1.8479387 ,
        -1.54227823, -0.65662112, -0.53340098, -0.35181758,  0.01350525,
         0.6981455 ,  0.78579339, -0.08174451, -0.09697566, -0.39029459,
        -0.42099469,  0.10744297, -0.47524404, -0.53695317, -0.83378453,
        -0.63137545, -1.52986696, -0.54294852, -1.13151644, -1.7234011 ,
        -1.02577269, -0.69706045, -0.31860653, -1.57817678, -1.52494542,
        -1.13529903, -0.00809389, -0.43826683, -0.50668627, -0.43981695,
        -0.70837541, -1.21168504, -1.33662039, -1.26574474, -1.06671599,
        -0.93559194, -0.96658759, -0.67637095, -1.35696234, -0.73665158,
        -0.83532053, -1.54610758, -1.32109006, -1.43798665, -1.27677956,
        -1.96577711, -2.74690973, -1.67836846, -0.48545785, -0.86117235,
        -1.26034297, -0.39011826, -1.01815301, -2.18094527, -1.19714109,
        -1.09308634, -1.7004461 , -1.9427181 , -1.88566343, -2.14568405,
        -4.05459178, -4.60069456, -3.26250958, -2.38699197, -2.53142726,
        -2.86639158, -2.256062  , -2.59724994, -2.63591762, -2.84492314,
        -1.72563083, -1.5993147 , -1.85084977, -2.10830622, -2.07717529,
        -2.55827148, -2.31387495, -2.67760125, -2.59126199, -3.19596093,
        -4.6315246 , -5.55533902, -4.73989084, -4.09212418, -3.75589163,
        -3.38526015, -3.38494126, -3.64517602, -3.17901363, -3.56689606,
        -3.33784967, -3.43282223, -3.52627615, -3.61342124, -3.96109159]),
 'use_boxcox': False,
 'lamda': None,
 'remove_bias': False}

In [74]:
holt_winter1 = sm.tsa.ExponentialSmoothing(
    df['avg_temp'], seasonal='add', seasonal_periods=365)
y = holt_winter1.fit()
y.params

c:\Users\91966\anaconda3\envs\tf-gpu\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
c:\Users\91966\anaconda3\envs\tf-gpu\lib\site-packages\statsmodels\tsa\holtwinters\model.py:915: ConvergenceWarning: Optimization failed to converge. Check mle_retvals.
  warnings.warn(

{'smoothing_level': 0.7988356620600764,
 'smoothing_trend': nan,
 'smoothing_seasonal': 5.532558863687082e-10,
 'damping_trend': nan,
 'initial_level': 30.350705890624578,
 'initial_trend': nan,
 'initial_seasons': array([-4.67698514, -4.6296859 , -4.33022723, -4.85674761, -4.65965976,
        -4.07213124, -4.41329822, -4.4084643 , -4.44927192, -4.30164897,
        -3.80795141, -3.42311353, -3.33823052, -3.7579597 , -3.5346029 ,
        -3.37590564, -3.22364458, -3.61900252, -3.82246963, -3.83995897,
        -3.67662211, -3.3898413 , -3.1541378 , -2.72382796, -3.218712  ,
        -3.32191586, -2.76343893, -3.73733145, -4.2746935 , -4.19974472,
        -3.79071446, -3.89535679, -4.2171753 , -3.77104531, -3.92393036,
        -4.78858873, -4.10736224, -3.62642699, -3.22666852, -2.91455702,
        -3.18502305, -2.61129205, -3.6301472 , -3.52930883, -3.62552468,
        -2.96213281, -2.32542684, -2.50772442, -1.71782131, -2.08262314,
        -2.35568418, -2.7803619 , -2.25259695, -1.82050268, -1.90466923,
        -2.04312701, -1.94116553, -1.52793478, -1.24175705, -0.88538364,
        -0.87655937, -1.17457704, -0.83697966, -0.74497114, -0.67181589,
        -0.6561205 , -0.50463836, -0.1801828 , -0.30881207, -0.09195515,
        -0.08199827, -0.39204501, -0.43933559,  0.37539082,  0.45839958,
         0.19325234, -0.02844904, -0.05550656,  0.40001876,  1.03757605,
         1.10934201,  0.95980663,  1.38074607,  1.31117762,  1.12249806,
         1.2551625 ,  1.53779436,  2.11339453,  2.64542951,  2.71474783,
         2.29865051,  1.96077454,  2.17339722,  1.96904321,  1.78294201,
         2.15365346,  2.0007254 ,  2.14312084,  2.09517463,  1.45854403,
         1.90991472,  2.7057028 ,  2.36029565,  2.6221038 ,  2.68166843,
         2.38778325,  3.08077894,  3.43836063,  3.36384243,  3.96988612,
         3.83642839,  3.55454854,  3.2207104 ,  3.60067696,  3.61475949,
         4.05728602,  4.25473678,  3.97114954,  3.86842324,  3.97191913,
         4.55539797,  4.09345137,  4.41472653,  3.08231867,  3.81458091,
         4.71022833,  4.64574608,  5.23370328,  4.92855844,  5.4449629 ,
         4.7950828 ,  3.52789569,  4.11907695,  4.55415298,  4.36100092,
         4.45806294,  3.80246932,  4.34469967,  4.86853344,  4.49035294,
         5.05400222,  4.98886348,  5.83848842,  5.1617848 ,  5.42392714,
         4.82665399,  6.13671182,  5.77394724,  6.10395532,  5.6863373 ,
         5.40685092,  4.9138114 ,  5.2079942 ,  4.02565998,  3.84362091,
         4.76705718,  4.98596987,  3.20171919,  4.52161485,  5.42974392,
         4.09104864,  3.21476085,  2.07729451,  2.66892256,  3.16982745,
         3.39233428,  3.71672564,  3.24098385,  2.04493998,  2.80097789,
         3.58619187,  2.72482088,  1.54707994,  1.55609694,  1.57252315,
         2.35904311,  2.51548406,  1.56097401,  1.60524508,  1.35806231,
         1.77373898,  1.65823355,  0.63275227,  0.30751603,  1.0970273 ,
         1.50517332,  0.1472151 ,  0.9503017 ,  0.37983734, -0.50709982,
        -0.32094528, -0.10269734, -0.73863964, -0.71718847, -0.83687936,
        -0.70671222, -0.49785162,  0.24977752,  0.85117412,  1.19828378,
         0.84665543, -0.30845397,  0.21917462, -0.66805039, -0.56490866,
         1.17830931,  1.0280629 , -0.0610663 ,  1.00407885,  0.34409747,
         0.80505088,  1.67398944,  1.36860102,  0.76772909,  0.07158904,
         0.64177078,  0.83915662,  0.06093483, -0.11931484, -0.31525483,
         0.43609321,  0.29847853, -0.05045168,  0.31695057, -0.39003935,
        -1.23645133, -1.26356008, -1.43573575, -0.83415223, -0.03148321,
         0.17917589, -1.21362805, -1.2497614 , -0.13208141,  0.6733369 ,
         0.669886  ,  0.76406709,  1.17443523,  0.01193462,  0.02675348,
         0.28393703,  0.8850188 ,  0.89713378,  0.18350774, -0.06946886,
         0.4397172 ,  0.62081716,  0.59065542,  1.20492787, -0.11809545,
         0.31237663,  0.82047968,  1.01888891,  0.41654284, -0.07496711,
         0.21459204,  0.22022339,  0.59879202,  0.88379589,  0.75021216,
         0.57471059,  0.6067929 , -0.11027852, -0.1191862 , -0.07573588,
         0.09316728,  0.27170714,  0.73941118,  0.2601071 , -0.56382126,
         0.1089461 ,  0.54241079,  0.54927933,  0.198826  ,  0.94264853,
         1.34386147,  1.3219347 ,  0.51506982,  0.67442182,  0.54491587,
         0.53055612,  0.72746639,  0.31820104, -0.05007511, -0.02098757,
         0.19411337, -0.1302657 ,  0.29770291, -0.03574337, -0.21371342,
         0.18275605,  0.0495516 ,  0.22519235, -0.16227218, -0.50704532,
        -0.54102339,  0.2416619 ,  0.08029725, -0.77402767, -1.0169829 ,
        -0.99284465, -1.06735272, -0.8454692 , -0.91921264, -0.55236065,
        -0.42074749, -0.38112648, -0.182073  , -1.0786658 , -0.52560569,
        -0.70806094, -1.8566509 , -2.23760763, -2.24568103, -1.84805848,
        -1.76104215, -2.36058997, -2.06979246, -1.20640946, -0.6926082 ,
        -0.91252841, -0.184013  , -0.47231064, -1.45468446, -1.61117734,
        -1.35132876, -1.61394955, -2.02784917, -2.73135356, -3.01840447,
        -3.93651099, -3.89660949, -2.52275031, -2.7071965 , -2.6863219 ,
        -3.35960698, -3.12239197, -3.16310273, -2.9129836 , -3.30563926,
        -2.16459895, -2.11172365, -2.63638223, -2.54231037, -2.61215995,
        -2.77928556, -2.56091684, -3.18593884, -3.44736126, -3.70338035,
        -4.57142012, -5.13017314, -4.7775788 , -4.75690253, -5.08671187,
        -5.11065582, -4.81306793, -4.72057605, -4.02506065, -3.75159841,
        -3.47079228, -3.82856522, -4.76623724, -4.42015249, -4.63547026]),
 'use_boxcox': False,
 'lamda': None,
 'remove_bias': False}

In [75]:
df['temp_max_pred'] = list(x.predict(1, len(df)))
# df[['aqi', 'predict_holt']].plot()

df1=pd.DataFrame(x.forecast(365))
df1.columns=['temp_max_pred']
df1

c:\Users\91966\anaconda3\envs\tf-gpu\lib\site-packages\statsmodels\tsa\base\tsa_model.py:834: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(
c:\Users\91966\anaconda3\envs\tf-gpu\lib\site-packages\statsmodels\tsa\base\tsa_model.py:834: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(

      temp_max_pred
1733      33.855801
1734      34.221124
1735      34.905764
1736      34.993412
1737      34.125874
...             ...
2093      33.453813
2094      32.359680
2095      32.665341
2096      33.550998
2097      33.674218

[365 rows x 1 columns]

In [76]:
def prob(mae_tempmax,mae_tempavg,temp_max,temp_avg):
    final_temp_max=temp_max-mae_tempmax
    final_temp_avg=temp_avg+mae_tempavg
    prob=min((final_temp_max-final_temp_avg)/4.5,0.99)*100
    prob_severe=min((final_temp_max-final_temp_avg)/6.4,0.99)*100
    return prob,prob_severe

In [77]:
df['temp_avg_pred'] = list(y.predict(1, len(df)))
# df[['aqi', 'predict_holt']].plot()
df2=pd.DataFrame(y.forecast(365))
df2.columns=['temp_avg_pred']
df_final=pd.concat([df1,df2],axis=1)
df_final

c:\Users\91966\anaconda3\envs\tf-gpu\lib\site-packages\statsmodels\tsa\base\tsa_model.py:834: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(
c:\Users\91966\anaconda3\envs\tf-gpu\lib\site-packages\statsmodels\tsa\base\tsa_model.py:834: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(

      temp_max_pred  temp_avg_pred
1733      33.855801      28.502153
1734      34.221124      29.245976
1735      34.905764      29.647189
1736      34.993412      29.625262
1737      34.125874      28.818397
...             ...            ...
2093      33.453813      28.563435
2094      32.359680      27.739506
2095      32.665341      28.412274
2096      33.550998      28.845738
2097      33.674218      28.852607

[365 rows x 2 columns]

In [78]:
df_final['Normal_heat_wave_prediction']=df_final.apply(lambda x:prob(0.4,0.2,x['temp_max_pred'],x['temp_avg_pred'])[0],axis=1)
df_final['Severe_heat_wave_prediction']=df_final.apply(lambda x:prob(0.4,0.2,x['temp_max_pred'],x['temp_avg_pred'])[1],axis=1)

In [79]:
df_final

,temp_max_pred,temp_avg_pred,Normal_heat_wave_prediction,Severe_heat_wave_prediction
1733,33.855801,28.502153,99.000000,74.275748
1734,34.221124,29.245976,97.225515,68.361690
1735,34.905764,29.647189,99.000000,72.790242
1736,34.993412,29.625262,99.000000,74.502346
1737,34.125874,28.818397,99.000000,73.554330
...,...,...,...,...
2093,33.453813,28.563435,95.341738,67.037160
2094,32.359680,27.739506,89.337200,62.815219
2095,32.665341,28.412274,81.179270,57.079174
2096,33.550998,28.845738,91.227990,64.144681
2097,33.674218,28.852607,93.813581,65.962674

In [80]:
from pathlib import Path
save_location = Path(f"pred-{district}")
x.save(fname=save_location.absolute())