In [56]:
import os
import pandas as pd
from functools import reduce
import numpy as np
from datetime import date
import tensorflow as tf
from keras.layers import Dropout
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM
from tensorflow.keras.metrics import RootMeanSquaredError, MeanAbsoluteError
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from keras.preprocessing.sequence import TimeseriesGenerator
import statsmodels.api as sm
import matplotlib.pyplot as plt
import pmdarima as pm

In [57]:
df=pd.read_csv("C:/Users/91966/OneDrive/Desktop/capstone/telangana/weather/daily_weather_data.csv")
df=df[['district','odate','rainfall','temp_min','temp_max']].dropna()

In [58]:
df1=df.copy(deep=True)
df2=df.copy(deep=True)
df3=df.copy(deep=True)
df1['odate'] = pd.to_datetime(df1['odate'], format='%d-%m-%Y', errors='coerce')
df1.dropna(inplace=True)
df2['odate'] = pd.to_datetime(df2['odate'], format='%Y-%m-%d', errors='coerce')
df2.dropna(inplace=True)
df3['odate'] = pd.to_datetime(df3['odate'], format='%d-%b-%y', errors='coerce')
df3.dropna(inplace=True)

In [59]:
df_final=pd.concat([df1,df2,df3],axis=0).sort_index()
df_final=df_final.sort_values(by='odate')

In [60]:
df_comps={}
options=["Adilabad","Nizamabad","Warangal","Karimnagar","Khammam"]
for i in options:
  df_comps[i]=df_final[df_final["district"]==i]

In [61]:
df_comps['Adilabad']=df_comps['Adilabad'][['odate','temp_max','temp_min']]

In [62]:
for i in df_comps:
    df_comps[i]=df_comps[i].groupby(by=["odate"]).mean()

C:\Users\91966\AppData\Local\Temp\ipykernel_19552\366426764.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_comps[i]=df_comps[i].groupby(by=["odate"]).mean()
C:\Users\91966\AppData\Local\Temp\ipykernel_19552\366426764.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_comps[i]=df_comps[i].groupby(by=["odate"]).mean()
C:\Users\91966\AppData\Local\Temp\ipykernel_19552\366426764.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_comps[i]=df_comps[i].groupby(by=["odate"]).mean()
C:\Users\91966\AppData\Local\Temp\ipykernel_19552\366426764.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_comps[i]=df_comps[i].groupby(by=["odate"]).mean()

In [63]:
df_comps['Adilabad']

             temp_max   temp_min
odate
2018-01-01  30.436842  11.200000
2018-01-02  31.173684  11.810526
2018-01-03  31.121053  11.626316
2018-01-04  30.300000  11.200000
2018-01-05  29.410526  10.700000
...               ...        ...
2022-09-26  33.972222  23.544444
2022-09-27  33.350000  24.683333
2022-09-28  33.894444  23.661111
2022-09-29  32.605556  24.322222
2022-09-30  32.166667  23.577778

[1733 rows x 2 columns]

In [64]:
df=df_comps['Adilabad']

df["avg_temp"] = ((df["temp_max"] + df["temp_min"])/2)

In [65]:
holt_winter = sm.tsa.ExponentialSmoothing(
    df['temp_max'], seasonal='add', seasonal_periods=365)
x = holt_winter.fit()
x.params

c:\Users\91966\anaconda3\envs\tf-gpu\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
c:\Users\91966\anaconda3\envs\tf-gpu\lib\site-packages\statsmodels\tsa\holtwinters\model.py:915: ConvergenceWarning: Optimization failed to converge. Check mle_retvals.
  warnings.warn(

{'smoothing_level': 0.7886079908393024,
 'smoothing_trend': nan,
 'smoothing_seasonal': 6.7756585193467504e-09,
 'damping_trend': nan,
 'initial_level': 36.38709664346721,
 'initial_trend': nan,
 'initial_seasons': array([-5.97982845, -5.17923061, -5.12015106, -5.00904019, -4.76510899,
        -3.82804973, -3.72887276, -4.91137641, -5.8917726 , -4.95064257,
        -5.21954556, -4.70517285, -4.46652583, -3.59241116, -3.40429216,
        -5.32601615, -4.03399701, -2.95407572, -3.38995581, -3.73236269,
        -2.38711093, -2.69874656, -2.0510423 , -2.69031822, -3.38365258,
        -4.25958126, -5.10462182, -5.05046876, -4.83293288, -4.92759728,
        -4.46488175, -1.90600285, -1.79498776, -1.07561535, -0.72975935,
        -1.59859804, -0.75134598, -0.9942769 , -3.57687039, -2.23460802,
        -2.6989107 , -2.31072834, -0.75417313, -0.78136919, -0.10702882,
        -0.50070392, -0.28239105, -0.3342797 , -0.72672474, -0.48685979,
        -0.90549739, -0.08339466,  1.08671541,  2.00988941,  1.92985223,
         1.81277532,  1.70380129,  1.90580175,  1.93450805,  1.1934152 ,
         1.36461234,  1.63909663,  2.41631059,  2.35401715,  1.48335193,
         1.35867326,  1.47884395,  2.00358907,  1.79406131,  2.35916108,
         1.80996624,  2.21457196,  2.04685028,  2.30159309,  2.63761262,
         0.5844037 ,  2.90402735,  2.98281398,  2.83809181,  2.97124071,
         3.05603955,  3.30044604,  3.20530354,  3.50422883,  4.01493445,
         4.21843452,  4.89754987,  5.49676157,  5.85863182,  6.01574134,
         6.27105281,  5.8739107 ,  5.52840052,  5.50963136,  5.20882381,
         5.17342419,  5.6417059 ,  5.49039825,  3.96007545,  4.82298798,
         5.28765291,  4.3567256 ,  5.20034124,  5.35536265,  5.45896658,
         5.02844547,  5.736334  ,  5.92360641,  6.66424848,  6.56548117,
         7.21692849,  6.54178992,  4.93757505,  6.7015474 ,  6.4105146 ,
         7.57147883,  7.65675331,  7.79025211,  7.55484817,  8.00967389,
         8.26992764,  7.82227833,  7.15520747,  6.94954087,  6.69142055,
         7.07660563,  7.37554856,  6.63187319,  7.19036192,  7.01276957,
         6.30499499,  6.97342751,  7.61744025,  6.35651685,  7.57390547,
         7.11212445,  5.72638547,  6.78594058,  6.91215634,  6.67061699,
         7.36432138,  7.93422927,  8.19252137,  7.72409046,  8.40057872,
         8.21775596,  8.41279075,  8.0305461 ,  8.32284973,  9.19470038,
         6.82806504,  6.82402134,  4.31856825,  4.44553545,  5.26015067,
         3.74356609,  4.05913133,  6.0770263 ,  4.98690643,  3.77661276,
         3.84325958,  3.85734554,  1.58365363,  0.91963198,  2.64802987,
         2.35799068,  2.44977486,  1.46130086,  1.09015887,  2.18811272,
         1.68255212,  2.2831071 ,  1.27524286,  0.81546197, -0.19986883,
         0.13236291,  0.41989134,  0.81954695,  0.87527504, -0.55478571,
         0.41801153,  0.02626478, -0.73841988, -0.80236872, -0.94531616,
        -1.1541893 , -1.21319081, -3.26994734, -1.00545206, -3.75001395,
        -4.46433418, -2.9469698 , -3.77561526, -3.189809  , -3.00792329,
        -3.28931814, -2.47040932, -1.73611593, -1.56489681, -0.72592962,
        -0.41585061, -1.91249653, -2.9839818 , -2.78568008, -4.6657978 ,
        -1.74735101, -1.66377292, -3.5682961 , -1.89319315, -2.39713734,
        -3.58132719, -2.94365224, -1.5035243 , -1.94207455, -2.02730883,
        -2.63960553, -1.63766521, -1.89031417, -2.75392674, -2.87605775,
        -4.70744134, -3.34181016, -3.29988941, -3.82371033, -2.92143269,
        -3.4853576 , -3.5530618 , -3.72361881, -4.00155613, -4.17120722,
        -4.09960825, -3.66169287, -4.72741572, -3.35875165, -1.98068363,
        -2.17600885, -0.9972359 , -1.79934555, -2.27339716, -3.39534497,
        -2.17679016, -1.70726409, -1.29298238, -2.21414058, -1.45351633,
        -2.10568644, -0.80852071, -2.69682928, -1.71372873, -2.26598093,
        -3.0595605 , -1.16230874, -0.86733332, -1.11730467, -3.2006218 ,
        -1.8704005 , -1.21642827, -1.15695379, -1.08689712, -0.69895311,
        -1.51198011, -1.77255225, -0.02835213, -1.24497938, -3.46237852,
        -1.67543676, -1.4869277 , -0.67763964, -1.11993263, -1.21647798,
        -1.27154275, -1.15533641, -0.62433236,  0.02290141, -0.18943021,
        -0.6558451 ,  0.17401045, -0.08931561,  0.0605354 , -0.82482087,
        -2.09166039, -0.56815543, -0.83300701, -0.37033341, -1.23966977,
        -0.90406065, -1.08226599, -0.83753619, -1.37208256, -1.87233572,
        -2.23231606, -1.30995268, -1.00736027, -1.4189562 , -0.45210915,
        -0.39380543, -0.94994804, -1.41451833, -0.54081622, -0.81974965,
        -0.97049588, -0.90410915, -1.90351336, -2.22289117, -1.96053727,
        -1.80220075, -1.10492753, -0.71868756, -0.77643802, -0.48133234,
        -0.73842151, -1.21744375, -2.12121145, -2.08339418, -2.23290633,
        -2.17897584, -2.35249182, -1.86067688, -1.88348352, -1.40457583,
        -1.30349315, -1.09676468, -1.31775152, -1.25485137, -1.44917609,
        -1.96177994, -2.28843139, -2.24568354, -1.98278717, -2.54059221,
        -3.41811323, -4.06033079, -3.42419589, -3.43333921, -3.22382352,
        -3.18130443, -3.60763108, -3.62692493, -3.34875714, -3.18510785,
        -2.99160478, -2.8766604 , -2.6203944 , -2.50166514, -2.53632568,
        -3.31623888, -3.76857826, -4.13509359, -4.38511675, -4.95470301,
        -4.97744049, -6.19441942, -6.49194548, -5.87940912, -5.35962363,
        -4.79095034, -4.58027596, -3.7562796 , -3.30308479, -4.55708389,
        -3.84977659, -4.73948399, -5.26418687, -6.12668602, -7.11194845]),
 'use_boxcox': False,
 'lamda': None,
 'remove_bias': False}

In [66]:
holt_winter1 = sm.tsa.ExponentialSmoothing(
    df['avg_temp'], seasonal='add', seasonal_periods=365)
y = holt_winter1.fit()
y.params

c:\Users\91966\anaconda3\envs\tf-gpu\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
c:\Users\91966\anaconda3\envs\tf-gpu\lib\site-packages\statsmodels\tsa\holtwinters\model.py:915: ConvergenceWarning: Optimization failed to converge. Check mle_retvals.
  warnings.warn(

{'smoothing_level': 0.9162903102779868,
 'smoothing_trend': nan,
 'smoothing_seasonal': 1.0289697253133411e-09,
 'damping_trend': nan,
 'initial_level': 27.941709822792326,
 'initial_trend': nan,
 'initial_seasons': array([-7.11117703, -6.58604042, -6.65663965, -6.63412762, -6.78116063,
        -5.24776375, -4.44123702, -5.09235274, -6.74259954, -6.59089733,
        -6.39855945, -5.55267418, -5.08075962, -4.40849141, -4.41408718,
        -5.97687909, -5.54318022, -4.89864688, -5.35800749, -5.6940855 ,
        -4.49123801, -4.60621529, -3.67670095, -4.03218928, -4.76831308,
        -5.69284819, -5.69774554, -6.28768683, -6.68706968, -7.60713374,
        -6.97682993, -5.11771307, -4.95533049, -4.38125508, -3.79205687,
        -4.78402733, -4.03268423, -2.91015332, -5.22931704, -4.80447165,
        -5.22702744, -4.59300768, -3.6813469 , -3.69899146, -3.1479309 ,
        -2.61089244, -2.86468575, -3.2539084 , -3.35233668, -2.66719599,
        -2.22178176, -1.89872425, -1.08768751, -0.66932641, -0.81863841,
        -1.61163605, -1.7003843 , -1.56301317, -1.50562654, -0.48038818,
        -0.37988362,  0.21872641,  0.09256458,  0.24011381, -0.37594315,
        -0.60053192, -0.40387959,  0.39081678,  0.65723331,  1.52727915,
         0.96120237,  1.47242946,  0.38963892,  0.91219967,  1.33453486,
        -0.03810126,  1.70326787,  2.03025374,  2.1822885 ,  1.82344576,
         1.48879364,  1.49161658,  1.75866855,  2.218671  ,  3.04526802,
         2.13300029,  2.89292997,  3.09070898,  3.26835193,  4.1161564 ,
         4.35638462,  4.11385395,  4.34808176,  4.35422242,  4.33497594,
         4.35369648,  4.44430335,  4.38905843,  3.64314449,  4.27924637,
         4.55475595,  3.72180651,  4.72273718,  4.99994055,  4.9472058 ,
         3.9503379 ,  4.8998184 ,  5.41593471,  5.83240719,  5.54468053,
         6.15770865,  5.29499663,  4.9635785 ,  5.2927585 ,  5.46110907,
         6.91745167,  6.66986799,  7.12686297,  6.68147064,  7.06036864,
         7.59472699,  6.76846261,  6.70289522,  5.5707514 ,  6.90480842,
         6.96758084,  7.37262642,  6.91645177,  7.09714132,  6.76749211,
         6.49268414,  7.01078149,  6.68081738,  6.54068447,  7.22329522,
         6.82936027,  6.00016803,  7.48267468,  6.90284331,  6.67389527,
         7.25870008,  7.32823855,  8.0750105 ,  7.7372029 ,  8.0812919 ,
         8.20889802,  7.50358185,  8.10613762,  8.44819674,  8.52017572,
         7.45914818,  6.21899046,  4.7632272 ,  5.38774818,  5.82252609,
         4.33760864,  5.20288909,  6.06482725,  5.26967262,  4.5703234 ,
         4.74234273,  3.94691611,  2.74205088,  2.83876064,  3.65871276,
         3.86121701,  3.74288593,  3.03161968,  2.95229527,  3.78269358,
         3.40448837,  2.9924056 ,  2.65556958,  1.9030826 ,  1.43857554,
         1.92568108,  2.14271548,  2.33863263,  1.86137595,  1.48976482,
         1.99976677,  1.55444478,  1.00928001,  1.33913466,  1.11875021,
         1.24985394,  0.8046387 , -0.07461785,  0.78844212, -0.60609789,
        -0.93745314, -0.08704619, -0.49112532, -0.27691874,  0.06273142,
        -0.11760361,  0.41800795,  0.85575708,  1.11506883,  1.41279576,
         1.54697162,  0.40426829,  0.20018397, -0.11672426, -0.94312832,
         0.76660575,  0.47610812, -0.38293987,  0.61069121,  0.08545001,
        -0.41379185, -0.08914736,  0.9097362 ,  0.46437291,  0.53856328,
         0.10549381,  0.70030073,  0.6298583 ,  0.0441355 , -0.02960577,
        -0.96975582, -0.22828454, -0.35424742, -0.63274775, -0.07658629,
        -0.57520678, -0.50523423, -0.52911025, -0.86909978, -0.68928655,
        -0.77830591, -0.49748361, -1.29510271, -0.26232308,  0.28453501,
         0.13908309,  0.82549251,  0.34371352,  0.09290515, -0.47418686,
         0.25379544,  0.43450455,  0.68161508,  0.13269011,  0.6479648 ,
         0.17973936,  0.56314552, -0.08994172,  0.49826977,  0.16970555,
        -0.32463895,  0.61787799,  0.86345001,  0.44009493, -0.55227355,
         0.21852892,  0.61938754,  0.77399137,  0.87064057,  0.81154554,
         0.58090467,  0.41119044,  1.26078247,  0.67963498, -0.54727687,
         0.36033156,  0.4044335 ,  0.93600857,  0.66850844,  0.60091544,
         0.18334407,  0.29391756,  0.56691817,  0.906655  ,  0.63339508,
         0.41961886,  0.54929633,  0.52273128,  0.77559806,  0.33428717,
        -0.69072994,  0.24040587,  0.0911039 ,  0.22343812, -0.83138552,
        -0.57077399, -0.56508679, -1.14755551, -0.75181158, -0.54836657,
        -0.81457639, -0.51779723, -0.59125616, -1.12903141, -0.85921661,
        -0.87495318, -1.08341562, -1.462179  , -1.30038144, -1.5638651 ,
        -1.73781704, -2.06583197, -2.22017829, -2.16462695, -2.55433918,
        -2.42378435, -1.61405294, -1.26479823, -1.58719543, -1.72643188,
        -1.82528332, -2.84631659, -4.01231732, -4.09407838, -4.35596681,
        -3.67569545, -3.14560369, -2.45264987, -2.64310071, -2.32990997,
        -2.25423804, -1.78877257, -1.81058911, -1.3636001 , -1.61307378,
        -2.71139055, -3.28118783, -3.70151814, -3.97011041, -3.90782842,
        -4.44828451, -4.89154139, -4.25120328, -4.13489344, -4.27672318,
        -4.76162824, -4.85339101, -5.15978614, -5.38144717, -5.03225874,
        -4.38974314, -4.16126856, -3.95661593, -3.77394678, -3.86470303,
        -4.14494064, -4.11768274, -4.42686858, -4.85069099, -5.75906098,
        -5.38881917, -6.44673697, -7.43947145, -7.79110874, -8.03964647,
        -7.50024992, -7.24750391, -6.24781644, -5.00065718, -5.81034199,
        -5.96774637, -6.92205323, -7.01422977, -6.98692088, -7.56186335]),
 'use_boxcox': False,
 'lamda': None,
 'remove_bias': False}

KeyError: 'odate'

In [68]:
df['temp_max_pred'] = list(x.predict(1, len(df)))
# df[['aqi', 'predict_holt']].plot()

df1=pd.DataFrame(x.forecast(365))
df1.columns=['temp_max_pred']
df1

c:\Users\91966\anaconda3\envs\tf-gpu\lib\site-packages\statsmodels\tsa\base\tsa_model.py:834: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(
c:\Users\91966\anaconda3\envs\tf-gpu\lib\site-packages\statsmodels\tsa\base\tsa_model.py:834: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(

      temp_max_pred
1733      33.076626
1734      32.864294
1735      32.397880
1736      33.227735
1737      32.964409
...             ...
2093      31.933792
2094      31.837247
2095      31.782182
2096      31.898388
2097      32.429392

[365 rows x 1 columns]

In [69]:
def prob(mae_tempmax,mae_tempavg,temp_max,temp_avg):
    final_temp_max=temp_max-mae_tempmax
    final_temp_avg=temp_avg+mae_tempavg
    prob=min((final_temp_max-final_temp_avg)/4.5,0.99)*100
    prob_severe=min((final_temp_max-final_temp_avg)/6.4,0.99)*100
    return prob,prob_severe

In [70]:
df['temp_avg_pred'] = list(y.predict(1, len(df)))
# df[['aqi', 'predict_holt']].plot()
df2=pd.DataFrame(y.forecast(365))
df2.columns=['temp_avg_pred']
df_final=pd.concat([df1,df2],axis=1)
df_final

c:\Users\91966\anaconda3\envs\tf-gpu\lib\site-packages\statsmodels\tsa\base\tsa_model.py:834: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(
c:\Users\91966\anaconda3\envs\tf-gpu\lib\site-packages\statsmodels\tsa\base\tsa_model.py:834: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(

      temp_max_pred  temp_avg_pred
1733      33.076626      28.287190
1734      32.864294      28.013930
1735      32.397880      27.800154
1736      33.227735      27.929832
1737      32.964409      27.903267
...             ...            ...
2093      31.933792      28.049044
2094      31.837247      27.981451
2095      31.782182      27.563879
2096      31.898388      27.674453
2097      32.429392      27.947454

[365 rows x 2 columns]

In [77]:
df_final['Normal_heat_wave_prediction']=df_final.apply(lambda x:prob(0.4,0.2,x['temp_max_pred'],x['temp_avg_pred'])[0],axis=1)
df_final['Severe_heat_wave_prediction']=df_final.apply(lambda x:prob(0.4,0.2,x['temp_max_pred'],x['temp_avg_pred'])[1],axis=1)

In [78]:
df_final

,temp_max_pred,temp_avg_pred,prediction,Normal_heat_wave_prediction,Severe_heat_wave_prediction
1733,33.076626,28.287190,"(93.09857221648186, 65.4599335897138)",93.098572,65.459934
1734,32.864294,28.013930,"(94.45253449048181, 66.41193831362003)",94.452534,66.411938
1735,32.397880,27.800154,"(88.83834188339044, 62.46445913675891)",88.838342,62.464459
1736,33.227735,27.929832,"(99.0, 73.40474166484584)",99.000000,73.404742
1737,32.964409,27.903267,"(99.0, 69.70535085647501)",99.000000,69.705351
...,...,...,...,...,...
2093,31.933792,28.049044,"(72.99440629760636, 51.32419192800447)",72.994406,51.324192
2094,31.837247,27.981451,"(72.35102071586839, 50.87181144084496)",72.351021,50.871811
2095,31.782182,27.563879,"(80.40672296395073, 56.535977084027856)",80.406723,56.535977
2096,31.898388,27.674453,"(80.53189741196047, 56.62399036778471)",80.531897,56.623990
2097,32.429392,27.947454,"(86.26530724284807, 60.65529415512755)",86.265307,60.655294